<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/customstyle.css" />
     <title>Document</title>
</head>
<body>
    <section class="register-account"> 
        <div class="signform">      
          <div class="left"><a href="#" style="float:right;margin-right:35px;font-size: 0.9em;" class="bts-a">Don't have an account? Sign up!</a>
            <div class="bts">
              <div class="ui facebook button">

                <i class="facebook icon"></i>
    
                <a href="/auth/facebook" style="color: rgb(241, 81, 81);">Login with Facebook</a>
    
            </div>
                <a href="/auth/google" class="gplogin social"><i class="fa fa-google-plus"></i><span>Sign in with Google</span></a>             
            </div>
          </div>
          <div class="right">
              <div class="headit">
                <h4>Login To Your Account</h4>
              </div>
              <div class="form" >
                <form class="login-form" id="login-form"  method='post',  action='/login'>
                    <input type="text" placeholder="User Name" name="email"/>
                    <input type="password" placeholder="Password" name="password"/>        
                    <input class="subbt" type="submit" value="Sign In" style="border:none;"/>   
                </form>
                <input type="checkbox" id="remember" name="remember"><span style="color:#b6b6b6;font-size: 0.9em;"> Remember Me</span><a href="#">Forgot your password?</a>        
              </div>
          </div>       
        </div>
  </section>  
</body>
</html>