<!DOCTYPE html> 
<html>
    <head>
            <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery.js"></script>  
   
    </head> 
<body> 
    <form action="payment" method="POST"> 
       <script 
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= key %>" 
          data-amount="<%= amount %>" 
          data-currency="<%= currency %>" 
          data-name="<%= user_id %>"
          data-description="hello" 
          data-locale="auto" > 
        </script> 
    </form> 
</body> 
</html> 