<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8"> 
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/jquery/jquery.js"></script>  
</head>
<body>
  <div class="container">
    
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">

     
        <form method="POST" action="/otpverification">
          <p>
            <label>Enter otp</label>
            <input type="text" name="otp" required>
          </p>
          
          <p class="full">
            <button type="submit">Submit</button>
          </p>

        </form>
        <br>
      
          
      </div>
    </div>
  </div>
</body>
</html>